h1.post-title {
  font-size: 3.4rem;
}

h2 {
  margin-top: 4rem;
}


/* Flexbox */
.flexbox-container {
  display: flex; /* or inline-flex */
  justify-content: space-evenly;
  margin-bottom: 1rem;
}

blockquote {
  //padding: 0;
  padding: .5rem 1rem;
}


hr {
  margin: 10%;
  border-color: #e5e5e5;
  border-style: solid;
}

.nav-title {
  color: #3844da;
  font-family: Arial, sans-serif;
  line-height: normal;
}

.catalogue-line {
  border-color: #3844da;
}

.post-line {
  border-color: #3844da;
}

.img-annotation {
  font-style: italic;
  font-size: 0.8em;
  opacity: 0.7;
}


.quoted-block {
  display: flex;
  flex-direction: column;
  margin: 0 15%;
}
.quoted-block .quoted-text {
  font-family: Arial, sans-serif;
  color: #818a91;
  font-style: italic;
  font-size: 1.4em;
  text-align: left;
  font-weight: bold;
}
.quoted-block .quoted-by {
  font-family: Arial, sans-serif;
  color: #818a91;
  font-style: italic;
  text-align:right;
}


a svg.feather {
  color: #363ddd;
}


.img-row {
  display: flex;
  width: 1100px;
  margin-left: -18%;
  margin-bottom: 6rem;
}
.img-row h2 {
  margin-top: 0;
  font-size: 1em;
  color: grey;
  //text-align: center;
}
.img-col-half {
  width: 50%;
  text-align: justify;
}

.img-col-third {
  width: 33%;
  text-align: justify;
}
.img-col-two-thirds {
  width: 66%;
  text-align: justify;
}

div.topic-terms {
  background: #f1f1f1;
  padding: 4px 6px;
  color: #6f6e6e;
  font-size: .8em;
  margin-right: 20px;
}


/* table styles */
table {
//  border: 2px solid #e4e4e4;
  width: 100%;
  margin-bottom: 2rem;
  border-collapse: collapse;
}
th {
  text-align: left;
  background: #f3f3f3;
}
th, td {
  border: 2px solid #e4e4e4;
  padding: 0 6px;
}
